*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


  background-color: indigo;
  color: #fff;
  width: 70%;
  margin: 30px auto;
}

.list{
  display: flex;
  border: 1px solid greenyellow;
  padding: 20px;
  
  width: 200px;
}

.ml-10{
  margin-left: 10px;
}
